@charset "UTF-8";

a, a:hover {
	text-decoration: none;
	color: #000;
}

header {
	height: 100px;
	background-color: #D8D8D8;
}

.contents {
	min-height: 500px;
	background-color: white;
}

.sign-up-box {
	width: 600px;
}

.sign-up-table th {
	background-color: #D8D8D8;
}